@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
}

.first-part {
  width: 375px;
  height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 327px;
  height: 192px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #172b4d;
}

h1 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #36b37e;
}

.aboutMe p {
  width: 327px;
  height: 164px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.aboutMe{
  width: 375px;
  height: 650px;
  background-image: url(/img/header-illsutration-mobile@2x.png);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.topnav {
  background-color: #fff;
  height: 48px;
  width: 375px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.social {
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  top: 6342px;
  list-style: none;
  padding-inline-start:0 ;
  display: flex;
  justify-content: space-between;
  align-items:center
}