@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first-part {
  width: 375px;
  height: 648px;
  background-image: url(img/Background_header.png);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px){
  .first-part{
    width: 100%;
    height: 100%;
    background-image: url(img/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
  }
}

h1 {
  width: 327px;
  height: 192px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #172b4d;
}

h1 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #36b37e;
}

p {
  margin-bottom: 24px;
  width: 327px;
  height: 164px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.Headline {
  width: 375px;
  height: 650px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.social {
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  top: 6342px;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 58px;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.topnav {
  background-color: #fff;
  height: 48px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  padding-left: 20px;
}

.Menu {
  padding-right: 30px;
}

@media only screen and (min-width: 768px){
  .Headline {
    margin-top: 180px;
    width: 63.89%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .textMain {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .social {
    margin-top: 2.05%;

  }
}

h2 {
  margin-bottom: 20px;
  width: 100%;
  height: 97px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

/** Projects part**/

.Works {
  margin-top: 62px;
  width: 100%;
  display: grid;
  row-gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
}

.project {
  width: 327px;
  height: 474px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project ul {
  width: 305px;
  height: 32px;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
}

h3 {
  width: 295px;
  height: 57px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  color: #3a4a42;
}

.tag {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  list-style: none;
}

@media only screen and (min-width: 768px){
  .Works {
    width: 81.32%;
    display: grid;
    row-gap: 2.05%;
    column-gap: 2.05%;
    margin-top: 4.44%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  .myRecentWorks {
    width: 31.04%;
    height: 3.33%;
    padding: 0;
    margin-top: 5.55%;
    margin-bottom: 0;
  }

  .indicator {
    display: none;
  }
  .project {

  }
}

/*About me part*/

.aboutMe {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe h2 {
  width: 375px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.GetMyResume {
  padding-top: 24px;
  margin-bottom: 59px;
  width: 375px;
  display: flex;
}

.ilu1 {
  padding-left: 24px;
}

.ilu2 {
  padding-right: 40px;
}

.LFS {
  width: 375px;
  display: grid;
  row-gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

.AboutMe2 {
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutMe2 img {
  border: solid 16px;
  border-radius: 50%;
  border-color: #fff;
  margin: 20px;
  margin: auto;
}

.TagBox ul {
  width: 320px;
  height: 136px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  justify-content: space-around;
  align-items: center;
}

.AboutMe2 h3 {
  margin: 0;
  width: 295px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  color: #344563;
}

.tag2 {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.ButtonProj:hover {
  opacity: 0.8;
}

.ButtonProj:active {
  filter: contrast(60%);
}

@media only screen and (min-width: 768px){
  .aboutMe {
    width: 81.3194%;
    margin-top:7.78%;
  }

  p {
    width: 78.57%;
    height: 8.19%;
    margin-top: 2.05%;
    margin-bottom: 2.25%;
    text-align: center;
  }

  .aboutMe h2 {
    width: 38.17%;
    height: auto;
    padding: 0;
    margin-top: 6.83%;
    margin-bottom: 0;
    justify-content: center;
  }

  .ilu1 {
    display: none;
  }

  .ilu2 {
    display: none;
  }

  .GetMyResume {
    padding: 0;
    justify-content: center;
  }

  .LFS {
    width: 100%;
    height: 30.74%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 2.05%;
  }
}

/*Contact form part*/

.Contact-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalP {
  width: 327px;
  height: 363px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.input1 {
  margin-top: 32px;
  height: 48px;
  width: 327px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.input2 {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 114px;
  width: 327px;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding: 0;
  box-sizing: border-box;
}

.buttonForm {
  height: 48px;
  width: 129px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.Final-part {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_mail {
  margin-top: 0;
  width: 375px;
  height: 189px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.social2 {
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  top: 6342px;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 58px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonForm:hover {
  opacity: 0.8;
}

.buttonForm:active {
  filter: contrast(60%);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("img/illustration-contact-form.png") 100% 0.1% no-repeat;
}

@media only screen and (min-width: 768px){

  .Final-part {
    width: 81.32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .finalP {
    display: flex;
    width: 39.54%;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
/* or 173% */
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .Contact-Form {
    width: 58.41%;
    display: flex;
    align-items: flex-start;
  }

  .input1 {
    width: 100%;
  }

  .input2 {
    width: 100%;
  }

  .my_mail {
    display: none;
  }

  .footer {
    width: 100%;
    height: 72px;
    margin-top: 10.07%;
    background: none;
    justify-content: center;
    align-items: center;
  }
  .social2 {
    margin: 0;
  }
}
.transitionIcn {
  transition: width 2s, height 2s;
 
}

.transitionIcn:hover {
  width: 150%;
  height: 150%;
}