body{
  background-color: #FFFFFF;
}
.first-part{
  height: 6715px;
  width: 375px;
  left: -17px;
  top: 10429px;
  border-radius: 0px;
  background-image: url(/img/header-illsutration-mobile@2x.png);
}
h1{
  width: 327px;
  height: 192px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  
}
h1 span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37e;
}
.aboutMe p{
  width: 327px;
  height: 164px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #172b4d;

}
.first-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-part .topnav{
  height: 48px;
  width: 375px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
    
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-part .social{
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  left: 102.41666412353516px;
  top: 6342px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
}
