@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("img/illustration-about\ me-1-desktop.png") 100% 69% no-repeat, url("img/illustration-about-me-2-desktop.png") 0% 69% no-repeat, url("img/illustration-1-contact-form-desktop.png") 0% 99% no-repeat, url("img/illustration-2-contact-form-desktop.png") 20% 98% no-repeat, url("img/contact\ form-illustratoin-3-desktop.png") 100% 97.5% no-repeat;
  background-size: auto;
}

/* Hide Mobile Background */

@media only screen and (max-width: 768px) {
  body {
    background: none;
  }
}

/* NavBar Mobile version */

.first-part {
  width: 375px;
  height: 648px;
  background-image: url(img/Background_header.png);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnav {
  background-color: #fff;
  height: 48px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  padding-left: 20px;
}

.Hamburger {
  all: unset;
  padding-right: 30px;
}

/* Hide Navbar Desktop when Mobile version */

@media only screen and (max-width: 768px) {
  .nav_748px {
    display: none;
  }

  .lineFooter {
    display: none;
  }
}

/* Media queries of Navbar and Main-Background for version screen width > 481px */

@media only screen and (min-width: 481px) {
  .first-part {
    width: 100%;
    height: 100%;
    background-image: url(img/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .topnav {
    display: none;
  }

  .nav_748px {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NavDesktop {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavDesktop a {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #344563;
    margin: 3%;
  }

  .NavDesktop a:link {
    text-decoration: none;
  }
}

/* Headline's styles for Mobile version */

h1 {
  width: 327px;
  height: 192px;
  font-weight: 1000;
  font-size: 45px;
  line-height: 52px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #172b4d;
}

h1 span {
  font-weight: 1000;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #36b37e;
}

p {
  margin-bottom: 24px;
  width: 327px;
  height: 164px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.Headline {
  width: 375px;
  height: 650px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.social {
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  top: 6342px;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 58px;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Headline's styles for version width > 481px */

@media only screen and (min-width: 481px) {
  .Headline {
    margin-top: 180px;
    width: 63.89%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .textMain {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .social {
    margin-top: 2.05%;
  }
}

h2 {
  margin-bottom: 20px;
  width: 100%;
  height: 97px;
  font-weight: 1000;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

/** My recent Projects' style for Mobile version  **/

.Works {
  margin-top: 62px;
  width: 100%;
  display: grid;
  row-gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
}

.project {
  width: 327px;
  height: 474px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project ul {
  width: 305px;
  height: 32px;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
}

h3 {
  width: 295px;
  height: 57px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  color: #3a4a42;
}

.tag {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  list-style: none;
}

/* My Recent projects' styles for desktop version width > 768px */

@media only screen and (min-width: 768px) {
  .Works {
    width: 90%;
    height: auto;
    display: grid;
    row-gap: 1.5%;
    column-gap: 1.5%;
    margin-top: 4.44%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
  }

  .myRecentWorks {
    width: 31.04%;
    height: 3.33%;
    padding: 0;
    margin-top: 5.55%;
    margin-bottom: 0;
  }

  .indicator {
    display: none;
  }

  .project {
    width: 100%;
    height: auto;
  }

  .proj-image {
    width: 100%;
    height: auto;
  }

  .Proj-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
    color: #172b4d;
    width: 91.33%;
    height: 15.45%;
    margin: 0;
    padding: 0;
  }

  .project ul {
    width: 82.66%;
    height: 8.67%;
    margin: 4.33% 8.67%;
  }

  .tag {
    padding: 2.62% 3.93%;
    color: #172b4d;
  }

  .ButtonProj {
    width: 100%;
    height: 100%;
  }
}

/* My Recent projects' styles for version  481px < width < 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Works {
    width: 81.32%;
    display: grid;
    row-gap: 1.5%;
    column-gap: 1.5%;
    margin-top: 4.44%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
  }

  .myRecentWorks {
    width: 31.04%;
    height: 3.33%;
    padding: 0;
    margin-top: 5.55%;
    margin-bottom: 0;
  }

  .indicator {
    display: none;
  }

  .project {
    width: 100%;
    height: 100%;
  }

  .proj-image {
    width: 100%;
    height: 52%;
  }

  .Proj-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
    color: #172b4d;
    width: 91.33%;
    height: 15.45%;
    margin: 0;
    padding: 0;
  }

  .project ul {
    width: 82.66%;
    height: 8.67%;
    margin: 4.33% 8.67%;
  }

  .tag {
    padding: 2.62% 3.93%;
    color: #172b4d;
  }

  .ButtonProj {
    width: 100%;
    height: 100%;
  }
}

/* About me's style for Mobile version */

.aboutMe {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe h2 {
  width: 375px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.GetMyResume {
  padding-top: 24px;
  margin-bottom: 59px;
  width: 375px;
  display: flex;
}

.ilu1 {
  padding-left: 24px;
}

.ilu2 {
  padding-right: 40px;
}

.LFS {
  width: 375px;
  display: grid;
  row-gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

.AboutMe2 {
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutMe2 img {
  border: solid 10px;
  border-radius: 50%;
  border-color: #fff;
  margin: 20px;
}

.TagBox ul {
  width: 320px;
  height: 136px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  justify-content: space-around;
  align-items: center;
}

.AboutMe2 h3 {
  margin: 0;
  width: 295px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  color: #344563;
}

.tag2 {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

/* About me's styles for desktop version width > 768px */

@media only screen and (min-width: 768px) {
  .aboutMe {
    width: 81.32%;
    margin-top: 7.78%;
  }

  p {
    width: 78.57%;
    height: 8.19%;
    margin-top: 2.05%;
    margin-bottom: 2.25%;
    text-align: center;
  }

  .aboutMe h2 {
    width: 38.17%;
    height: auto;
    padding: 0;
    margin-top: 6.83%;
    margin-bottom: 0;
    justify-content: center;
  }

  .ilu1 {
    display: none;
  }

  .ilu2 {
    display: none;
  }

  .GetMyResume {
    padding: 0;
    justify-content: center;
  }

  .LFS {
    width: 100%;
    height: 30.74%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 110%;
    column-gap: 2%;
  }

  .AboutMe2 {
    width: 100%;
    height: 95.39%;
  }

  .icons {
    width: 100%;
    height: 34.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .TagBox {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .TagBox ul {
    width: 73.441%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 3%;
  }

  .tag2 {
    padding: 3.93% 3.93%;
    margin: 2%;
  }

  .heM3 {
    width: 91.33%;
    height: 8.67%;
  }
}

/* About me's styles for version  481px < width < 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .aboutMe {
    width: 81.32%;
    margin-top: 7.78%;
  }

  p {
    width: 78.57%;
    height: 8.19%;
    margin-top: 2.05%;
    margin-bottom: 2.25%;
    text-align: center;
  }

  .aboutMe h2 {
    width: 38.17%;
    height: auto;
    padding: 0;
    margin-top: 6.83%;
    margin-bottom: 0;
    justify-content: center;
  }

  .ilu1 {
    float: left;
    margin-right: -70%;
  }

  .ilu2 {
    float: right;
    margin-left: -30%;
  }

  .GetMyResume {
    padding: 0;
    justify-content: center;
  }

  .LFS {
    width: 100%;
    height: 30.74%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    column-gap: 2%;
  }

  .AboutMe2 {
    width: 100%;
    height: 95.39%;
  }

  .icons {
    width: 100%;
    height: 34.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .TagBox {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .TagBox ul {
    width: 73.441%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 10%;
  }

  .tag2 {
    padding: 3.93% 3.93%;
    margin: 2%;
  }

  .heM3 {
    width: 91.33%;
    height: 8.67%;
  }
}

/* Contact form and Footer's style for Mobile version */

.Contact-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalP {
  width: 327px;
  height: 363px;
  font-weight: 1000;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.input1 {
  margin-top: 32px;
  height: 48px;
  width: 327px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.input2 {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 114px;
  width: 327px;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding: 0;
  box-sizing: border-box;
}

.buttonForm {
  height: 48px;
  width: 129px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.Final-part {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_mail {
  margin-top: 0;
  width: 375px;
  height: 189px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.social2 {
  height: 20.000062942504883px;
  width: 170.1666717529297px;
  top: 6342px;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 58px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("img/illustration-contact-form.png") 100% 0.1% no-repeat;
}

/* Contact Form and Footer's styles for desktop version width > 768px */

@media only screen and (min-width: 768px) {
  .Final-part {
    width: 81.32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .finalP {
    display: flex;
    width: 39.54%;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;

    /* or 173% */
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Contact-Form {
    width: 58.41%;
    display: flex;
    align-items: flex-start;
  }

  .input1 {
    width: 100%;
  }

  .input2 {
    width: 100%;
  }

  .my_mail {
    display: none;
  }

  .footer {
    width: 100%;
    height: 72px;
    margin-top: 10.07%;
    background: none;
    justify-content: center;
    align-items: center;
  }

  .lineFooter {
    width: 150%;
    margin-bottom: 25px;
  }

  .social2 {
    margin: 0;
  }
}

/* Contact Form and Footer's styles for version  481px < width < 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background: url("img/illustration-contact-form.png") 100% 98% no-repeat;
  }

  .Final-part {
    width: 81.32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .finalP {
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;

    /* or 173% */
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Contact-Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input1 {
    width: 100%;
  }

  .input2 {
    width: 100%;
  }

  .my_mail {
    display: none;
  }

  .footer {
    width: 100%;
    height: 72px;
    margin-top: 10.07%;
    display: flex;
    background: none;
    flex-direction: column;
  }

  .social2 {
    margin: 0;
  }
}

/* Button's interaction styles */

.ButtonProj:hover {
  opacity: 0.8;
}

.ButtonProj:active {
  filter: contrast(60%);
}

.buttonForm:hover {
  opacity: 0.8;
}

.buttonForm:active {
  filter: contrast(60%);
}

.transitionIcn {
  transition: width 2s, height 2s;
}

.transitionIcn:hover {
  width: 150%;
  height: 150%;
}

/* Mobile-Menu */

.mobileMenu {
  color: #3a4a42;
  flex-direction: column;
  display: none;
}

.mobileMenu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  margin: 3%;
}

.mobileMenu a:link {
  text-decoration: none;
}

.btMob {
  all: unset;
  position: relative;
  right: -90%;
}

.btProjMob {
  width: 40%;
  height: 30px;
  background: #36b37e;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 3%;
}

.TextButtonProjects {
  color: #fff;
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  pointer-events: none;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Style for MobilePopUp */

.MobilePopUp {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: url(img/Overlay.svg);
  background-position: center;
  overflow: auto;
}

.btMobWhite {
  all: unset;
  position: absolute;
  right: 8%;
  margin-top: 4%;
}

.ProjectPopUp {
  margin: 3%;
  width: auto;
  height: auto;
  background: #fff;
}

.ProjectPopUp ul {
  width: 305px;
  height: 32px;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
}

.buttonMobPopup {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}

.imagePopMob {
  width: 100%;
  height: auto;
}

/* Style for DesktopPopUp */

.whiteBackground {
  margin: 3%;
  border-radius: 8px;
  background-color: #fff;
}

.ProjectPopUpDesk {
  margin: 3%;
  width: auto;
  height: auto;
  background: #fff;
}

.ProjectPopUpDesk ul {
  width: 50%;
  height: 5%;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
}

.buttonMobPopupDesk {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.tagDesktop {
  margin: 1%;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #344563;
  list-style: none;
}

.buttonPopUpDesktop {
  width: auto;
  display: flex;
  margin-right: 7px;
}

.popUpDescription {
  width: 98%;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  text-align: start;
}

.ProjTextPopUpDeskt {
  width: 100%;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
  justify-items: center;
}

.btMobDesktop {
  all: unset;
  float: right;
  margin-right: 1%;
  margin-top: 0.5%;
}

.h3_ButtonsPopUpDesk {
  display: flex;
  align-items: flex-end;
  align-content: space-between;
}

.btProjMob:hover {
  opacity: 0.8;
}

.btProjMob:active {
  filter: contrast(60%);
}

.buttonPopUpDesktop:hover {
  opacity: 0.8;
}

.buttonPopUpDesktop:active {
  filter: contrast(60%);
}

.validationNoerror {
  display: none;
}

.validationError {
  width: 100%;
  text-align: center;
  color: #172b4d;
  font-weight: 1000;
  font-size: 17px;
  line-height: 25px;
}
